{% extends "base.html" %}
{% load static %}

{% block page_header %}
<header class="nav">
    <a href="{% url 'home' %}">
        <img src="https://s3.amazonaws.com/shecodesio-production/uploads/files/000/006/651/original/Toni_Smith_Name_no_Background_190321_%281%29_1.png?1617726004"
        class="logo d-none d-md-block" alt="Logo" />
        <img src="https://s3.amazonaws.com/shecodesio-production/uploads/files/000/006/644/original/Tonilogo.png?1617724508"
            class="logo-small logo d-block d-md-none" alt="Toni Smith Paints Logo " />
    </a>
    <nav id="menu">
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="{% url 'products' %}">Shop Now</a></li>
        </ul>
    </nav>
</header>
    <div class="container header-container">
        <div class="row">
            <div class="col"> hello</div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <p class="mb-0">{{ product.name }}</p>
                <p class="mb-0">{{ product.size }}</p>
                <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>  
                <p class="mt-4">{{ product.description }}</p>             
            </div>
        </div>
    </div>
{% endblock %}